* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  user-select: none;
}

h1 {
  background-color: rgb(75, 37, 9);
  padding: 10px;
  border-radius: 10px;
}
#cookie-top {
  color: white;
  font-size: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  border: 5px;
  text-align: center;
  margin: 30px;
}

#cookie-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  gap: 10px;
  padding: 5px;
}

#cookie-clicker-button img {
  width: 250px;
  height: auto;
}

#cookie-clicker-button {
  background-color: white;
  margin: 30px;
  border: none;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cookie-shop {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

#counter-clicked {
  font-size: 30px;
  background-color: rgb(75, 37, 9);
  word-wrap: normal;
  text-align: center;
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
}

#counter-cps {
  font-size: 30px;
  background-color: rgb(75, 37, 9);
  word-wrap: normal;
  text-align: center;
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
}

.shop-item {
  background-color: rgb(75, 37, 9);
  cursor: pointer;
  width: 300px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
}
