* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#cookie-top {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: 2px solid black;
}

#cookie-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border: 2px solid black;
}

#cookie-clicker-button img {
  width: 250px;
  height: auto;
}

#cookie-clicker-button {
  background-color: white;
  margin: 30px;
  border: none;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cookie-shop {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
  border: 2px solid black;
}
#cookie-counter {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 5px;
}
#cookie-stats {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
  border: 2px solid black;
}

#counter-clicked {
  height: 25%;
  width: 100%;
  font-size: 30px;
  background-color: chartreuse;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-wrap: inherit;
}

#counter-cps {
  height: 25%;
  width: 100%;
  font-size: 30px;
  background-color: chartreuse;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
